.container {
    padding: 20px;
 }
 
 .full-width {
     width: 100%;
 }
 
 .half-width {
     width: 48%;
     display: inline-block;
 }
 
 .right-half {
     float: inline-end;
  }
 
 .btn {
     float: right;
     margin-top: 24px;
     button {
         min-width: 9rem;
         margin-left: 8px;
     }
 }