
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Contact</mat-card-title>
      <mat-card-subtitle>LacMac Solutions</mat-card-subtitle>
    </mat-card-header>
    <mat-divider class="divider"></mat-divider>
    <mat-card-content >
      <p>Email: rshivuk&#64;gmail.com</p>
      <p>Phone: +91-8867485606</p>
      <p>Address: Laggere main road, Bengaluru-560058</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-flat-button color="primary" mat-dialog-close class="close-btn">Ok</button>
    </mat-card-actions>
  </mat-card>